{% extends 'public/base_cpanel.html' %}

{% block title %}Control de Luces{% endblock %}

{% block body %}
<div class="card">
  <div class="row">
    <div class="col-md-12 mb-4">
      <h3 class="text-center mt-5 mb-3">Control de Luces</h3>
      <hr />
    </div>
  </div>

  <!-- Formulario de Control de Luces -->
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form action="/control_luces" method="POST">
        <div class="form-group">
          <label for="departamento">Seleccionar Departamento:</label>
          <select class="form-control" id="departamento" name="departamento">
            {% for departamento in departamentos %}
            <option value="{{ departamento.id_departamento }}">{{ departamento.nombre_departamento }}</option>
            {% endfor %}
          </select>
        </div>

        <div class="form-group mt-3">
          <label for="color">Seleccionar Color de Luz:</label>
          <select class="form-control" id="color" name="color">
            <option value="1">Blanco</option>
            <option value="2">Rojo</option>
            <option value="3">Azul</option>
            <option value="4">Verde</option>
          </select>
        </div>

        <button type="submit" class="btn btn-primary mt-3">Aplicar</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}