{% extends "public/base_cpanel.html" %}

{% block title %}Editar Edificio{% endblock %}

{% block body %}
<div class="card">
  <div class="row">
    <div class="col-md-12 mb-4">
      <h3 class="text-center mt-5 mb-3">Editar Edificio</h3>
      <hr />
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-6">
      <form action="/editar-edificio/{{ edificio.id_edificio }}" method="post">
        <div class="mb-3">
          <label for="nombre_edificio" class="form-label">Nombre del Edificio</label>
          <input type="text" id="nombre_edificio" name="nombre_edificio" class="form-control" value="{{ edificio.nombre_edificio }}" required>
        </div>
        <div class="mb-3">
          <label for="direccion" class="form-label">Dirección</label>
          <input type="text" id="direccion" name="direccion" class="form-control" value="{{ edificio.direccion }}" required>
        </div>
        <button type="submit" class="btn btn-primary">Actualizar</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
