{% extends 'public/base_cpanel.html' %}

{% block title %}Gestión de Departamentos{% endblock %}

{% block body %}
<div class="card">
  <div class="row">
    <div class="col-md-12 mb-4">
      <h3 class="text-center mt-5 mb-3">Gestión de Departamentos</h3>
      <hr />
    </div>
  </div>

  <div class="row justify-content-center mb-3">
    <div class="col-md-auto">
      <a href="/crear-departamento" class="btn btn-success btn-sm" tooltip="Crear Departamento">
        <i class="bi bi-plus-circle"></i>
        Crear Departamento
      </a>
    </div>
  </div>

  <div class="row">
    <div class="table-responsive text-nowrap">
      <table class="table table-hover">
        <thead>
          <tr style="background-color: #ddd">
            <th>ID</th>
            <th>Nombre del Departamento</th>
            <th>ID del Propietario</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for departamento in departamentos %}
          <tr id="departamento-{{ departamento.id_departamento }}">
            <td>{{ departamento.id_departamento }}</td>
            <td>{{ departamento.nombre_departamento }}</td>
            <td>{{ departamento.id_propietario }}</td>
            <td>
              <a href="/editar-departamento/{{ departamento.id_departamento }}" class="btn btn-warning btn-sm">
                <i class="bi bi-pencil"></i>
              </a>
              <button class="btn btn-danger btn-sm delete-department" data-id="{{ departamento.id_departamento }}">
                <i class="bi bi-trash"></i>
              </button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
    document.querySelectorAll('.delete-department').forEach(button => {
        button.addEventListener('click', function() {
            const departmentId = this.getAttribute('data-id');
            if (confirm('¿Seguro que deseas eliminar este departamento?')) {
                fetch(`/eliminar-departamento/${departmentId}`, { method: 'POST' })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            // Recargar la página automáticamente
                            window.location.reload();
                        } else {
                            alert('No se pudo eliminar el departamento.');
                        }
                    })
                    .catch(error => {
                        console.error('Error al eliminar el departamento:', error);
                        alert('Ocurrió un error al eliminar el departamento.');
                    });
            }
        });
    });
  </script>
  
{% endblock %}
