{% extends 'public/base_cpanel.html' %}

{% block title %}Lista de Tarjetas{% endblock %}

{% block body %}

<div class="card" style="border-radius: 0px !important">
  <div class="row justify-content-center mb-2">
    <div class="col-md-12 mb-4">
      <h3 class="text-center mt-5 mb-3">LISTA DE TARJETAS</h3>
      <hr />
    </div>

    <div class="container" id="formCrear">
      <form action="/añadir-tarjeta" method="POST">
          <div class="contenedor">
              <label class="form-label">Añadir Tarjeta</label>
              <input type="text" name="nombre_tarjeta" id="nombre_tarjeta" class="form-control"
                  placeholder="Tarjeta UID" required />
                  <div class="botones mt-3">
                    <button id="botonGuardar" class="btn btn-outline-primary btn-sm" type="submit">
                      Crear
                    </button>
                  </div>
          </div>
      </form>
  </div>

    <div class="row justify-content-end">
      <div class="col-md-6 mt-4 py-2">
        <input type="search" id="search" class="form-control border-0 shadow-none" placeholder="Buscar Tarjeta..."
          onkeyup="buscadorTable('tbl_tarjetas')" />
      </div>
    </div>

    <div class="row justify-content-center mb-2">
      <div class="table-responsive text-nowrap table-hover">
        <table id="tbl_tarjetas" class="table table-striped table-bordered" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>ID</th>
              <th>UID</th>
              <th>Estado</th>
              <th>Acción</th>
            </tr>
          </thead>
          <tbody>
            {% for tarjeta in tarjetas %}
            <tr id="{{ tarjeta.id_tarjeta }}">
              <td>{{ tarjeta.id_tarjeta }}</td>
              <td>{{ tarjeta.codigo_hexadecimal }}</td>
              <td>{{ tarjeta.estado_tarjeta}}</td>

              <td width="10px">
                <a href="{{ url_for('cambiarEstadoTarjeta', id_tarjeta=tarjeta.id_tarjeta) }}" class="btn btn-warning btn-sm"
                  data-bs-toggle="tooltip" data-bs-offset="0,4" data-bs-placement="top" data-bs-html="true"
                  title="<span>Cambiar estado de tarjeta {{ tarjeta.codigo_hexadecimal }}</span>">
                  <i class="bi bi-arrow-repeat"></i>
                  Cambiar Estado
                </a>
                <a href="{{ url_for('borrarTarjeta', id_tarjeta=tarjeta.id_tarjeta) }}" class="btn btn-danger btn-sm"
                  data-bs-toggle="tooltip" data-bs-offset="0,4" data-bs-placement="top" data-bs-html="true"
                  title="<span>Eliminar tarjeta {{ tarjeta.codigo_hexadecimal }}</span>">
                  <i class="bi bi-trash3"></i>
                  Eliminar
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block customJS %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  function ocultarForm(nombre_tarjeta) {
    var x = document.getElementById("formActualizar");
    var y = document.getElementById("formCrear");
    if (x.style.display === "none") {
      x.style.display = "block";
      y.style.display = "none";
    } else {
      x.style.display = "none";
      y.style.display = "block";
    }
  }

  function editar(nombre_tarjeta, id_tarjeta) {
    var formEditar = document.getElementById("formActualizar");
    var formCrear = document.getElementById("formCrear");
    var tarjeta = document.getElementById("inputArea");
    var id = document.getElementById("inputId");

    if (formEditar.style.display === "none") {
      formEditar.style.display = "block";
      tarjeta.value = nombre_tarjeta;
      id.value = id_tarjeta;
      formCrear.style.display = "none";
    } else {
      tarjeta.value = nombre_tarjeta;
      id.value = id_tarjeta;
    }
  }
</script>
{% endblock %}
