{% extends 'public/base_cpanel.html' %}
{% block title %}Reportes {% endblock %}
{% block body %}
<div class="card">
  <div class="row">
    <div class="col-md-12 mb-4">
      <h3 class="text-center mt-5 mb-3">Historial de Accesos</h3>
      <hr />
    </div>
  </div>

  <div class="row justify-content-center mb-3">
    <div class="col-md-auto">
      <div class="card" style="width: 90%; background-color: rgb(163, 241, 181)">
        <div class="row p-3 text-center">
          <div class="col-md-6">
            <p><b>Fecha Acceso Activo:</b></p>
            <p>{{ lastAccess.fecha }}</p>
          </div>
          <div class="col-md-6">
            <p><b>Clave Acceso Activo:</b></p>
            <p>{{ lastAccess.clave }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-auto align-self-center">
      <a href="/descargar-informe-accesos" class="btn btn-success btn-sm">
        <i class="bi bi-arrow-clockwise"></i> Descargar Reporte
      </a>
    </div>
  </div>

  <div class="row">
    <div class="table-responsive text-nowrap">
      <table class="table table-hover">
        <thead>
          <tr style="background-color: #ddd">
            <th>ID</th>
            <th>Cédula</th>
            <th>Fecha</th>
            <th>Área</th>
            <th>Clave</th>
          </tr>
        </thead>
        <tbody>
          {% for reporte in reportes %}
          {% if dataLogin.rol == 2 %}
          {% if reporte.cedula == dataLogin.cedula %}
          <tr>
            <td>{{ reporte.id_acceso }}</td>
            <td>{{ reporte.cedula }}</td>
            <td>{{ reporte.fecha }}</td>
            <td>{{ reporte.nombre_area }}</td>
            <td>{{ reporte.clave }}</td>
          </tr>
          {% endif %}
          {% else %}
          <tr>
            <td>{{ reporte.id_acceso }}</td>
            <td>{{ reporte.cedula }}</td>
            <td>{{ reporte.fecha }}</td>
            <td>{{ reporte.nombre_area }}</td>
            <td>{{ reporte.clave }}</td>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
